menuconfig PMW3370
    bool "Enable PMW3370 sensor support"
    help
      Enables a PixArt PMW3370 driver for Zephyr/ZMK.

config PMW3370_POLL_MS
    int "Polling interval (ms) when IRQ isn't used"
    default 4
    help
      Fallback polling interval.

